@import "./variables.scss";
@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot") format("eot"),
    url("../fonts/Vazir.ttf") format("ttf"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.woff2") format("woff2");
}
p {
  color: $black;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: "vazir";
  direction: rtl;
  background: $white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vazir";
}
// global styles

// global classes
.tooltip {
  background: #6d6d6d;
  color: #f1f1f1;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 8px;
  border-radius: 10px;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.product-horizontal {
  display: flex;
  flex-wrap: wrap;
  height: 220px;
  box-shadow: 0px 6px 14px 0px #b5b5b552;
  border-radius: 8px;
  .image {
    height: 100%;
    flex: 40%;
    img {
      border-radius: 0 8px 8px 0;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  div.content {
    flex: 60%;
    padding: 10px 15px;
    border: 1.5px solid #c1c1c1;
    border-right: 0;
    border-radius: 8px 0 0 8px;
    background: $bgEl;
    & > a:nth-child(1) {
      font-size: 16px;
      font-weight: 600;
      color: $black;
      margin-bottom: 15px;
      display: block;
    }
    p {
      display: flex;
      color: #272727;
      margin-bottom: 12px;
      font-size: 14px;
    }
    span {
      color: #272727;
      margin-left: 5px;
      font-size: 18px;
    }
    ul {
      margin-top: 15px;
      text-align: left;
      li {
        span {
          color: #717171;
          font-size: 25px;
        }
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
        &.active {
          span {
            color: $red;
          }
        }
      }
    }
    button {
      margin: 10px 0;
    }
  }
}

.central {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  padding: 6px 25px;
  color: $white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  &:hover {
    box-shadow: 0 5px 5px #00000046;
  }
  display: inline-block;
  color: white;
  &.button-ef {
    overflow: hidden;
    position: relative;
    span.circle {
      position: absolute;
      background: #dddddd;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      transform: translate(-50%, -50%) scale(0);
      animation: buttonEf 1s ease-out;
    }
  }
}

@keyframes buttonEf {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
@each $color, $name in $colors {
  .bg-#{$name} {
    background: $color;
  }
}
// global classes
